body {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
}

.header img{
    border-radius: 100%;
    width: 8%;
    margin-left: 20px;
}
.header a {
    border: 2px solid black;
    background-color: #eee;
    border-radius: 20px;
    padding: 0 20px;
    text-decoration-line: none;
    font-size: 40px;
}

.content {
    margin: 40px 150px;
    border: 1px solid gray;
    box-shadow: 0 0 3px black;
    padding: 20px;
}

.describe {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box1 {
    margin: 20px auto;
    border: 5px solid rebeccapurple;
    position: relative;
    width: 80%;
    border-radius: 20px;
}

.box1 img {
    width: 100%;
    border-radius: 20px;
}

.box1 .tile {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 40px;
    text-shadow: 2px 2px 5px teal;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    font-size: 18px;
    margin-bottom: 90px;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

th {
    background: #eee;
    font-weight: bold;
}

button {
    cursor: pointer;
    font-size: 50px;
    background-color: red;
    padding: 20px;
    margin: 50px 650px;

    color: #eee;
    border-radius: 20px;
    font-family: monospace;
}

button:hover {
    box-shadow: 6px 6px 6px grey;
}

.dye {
    text-align: center;
    font-size: 20px;
    margin-bottom: 100px;
}

.box1 h2 {
    position: absolute;
    top: 230px;
    left: 380px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.menu {
    position: relative;
    top: 0px;
    right: 0px;
    width: 100%;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    margin: 20px;
    font-size: 30px;
    color:  black;
}

.menu ul li a:hover {
    color: #dc3545;
}
.menu>ul>li{
    list-style: none;
    position: relative;
}
.menu ul ul{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 250px;
    background-color: white;
    box-shadow: 0px 0px 1px gray;
}

.menu>ul>li:hover > ul{
    display: block;
}
.menu ul ul a{
    color: burlywood;
    text-decoration: none;
    display: block;
    padding: 0px;
    font-size: 25px;
    width: 90%;
}
.menu ul ul a:hover{
    background-color: aqua;
    color: rgb(3, 3, 3);
}