body{
    background-color: #dfd3d4;
    margin: 0;
    padding: 0;
}
.header {
    position: relative;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
}

.header img{
    border-radius: 100%;
    width: 8%;
    margin-left: 20px;
}
.header a {
    border: 2px solid black;
    background-color: #eee;
    border-radius: 20px;
    padding: 0 20px;
    text-decoration-line: none;
    font-size: 40px;
}
.menu {
    position: relative;
    top: 0px;
    right: 0px;
    width: 100%;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    margin: 20px;
    font-size: 30px;
    color:  black;
}

.menu ul li a:hover {
    color: #dc3545;
}
.menu>ul>li{
    list-style: none;
    position: relative;
}
.menu ul ul{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 250px;
    background-color: white;
    box-shadow: 0px 0px 1px gray;
}

.menu>ul>li:hover > ul{
    display: block;
}
.menu ul ul a{
    color: burlywood;
    text-decoration: none;
    display: block;
    padding: 0px;
    font-size: 25px;
    width: 90%;
}
.menu ul ul a:hover{
    background-color: aqua;
    color: rgb(3, 3, 3);
}
.box{
    border: 2px solid black;
    padding: 50px;
    margin: 50px 450px;
    background-color: #eee;
    box-shadow: 2px 5px 10px rebeccapurple;
    font-size: 30px;
}
.box iframe{
    width: 500px;   
    height: 300px;
}
footer{
    margin-top: 10px; 
    border: 1px solid green;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color:  yellow;
    background-color: #198754;
    font-size:30px;
}