body{
    background-color: #dfd3d4;
    margin: 0;
    padding: 0;
}
.cover{
    background-image: url(../img/cover.png);
}
.box{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    border: 1px dotted gray;
    padding: 50px;
    box-shadow: 0px 2px 5px green;
    background-color: #FFF8EF;
    font-size: 35px;
}
.box img{
    width: 80px;
    display: block;
    margin: 0px;
}
.box a{
    display: block;
    font-size: 25px;
    margin-top: 5px;
    padding: 2px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: auto;
    margin-top: 0px;
}
.content {
    margin: 50px 100px;
}
.btn{
    width: 200px;
    height: 35px;
    text-decoration:none;
    text-align: center;
    border-radius: 10px;
}
.btn-sign-in{
    background-color: rgb(75, 125, 74);
    color: #fff;
    
}
.btn-sign-up{
    color: #0b0b0b;
    background-color: #fdfefe;
    border: 1px solid rgb(131, 241, 95);
}
.btn:hover{
    background-color: aqua;
    color: #198754;
}
.menu {
    position: relative;
    top: 0px;
    right: 0px;
    width: 100%;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    margin: 20px;
    font-size: 30px;
    color:  black;
}

.menu ul li a:hover {
    color: #dc3545;
}
.menu>ul>li{
    list-style: none;
    position: relative;
}
.menu ul ul{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 250px;
    background-color: white;
    box-shadow: 0px 0px 1px gray;
}

.menu>ul>li:hover > ul{
    display: block;
}
.menu ul ul a{
    color: burlywood;
    text-decoration: none;
    display: block;
    padding: 0px;
    font-size: 25px;
    width: 90%;
}
.menu ul ul a:hover{
    background-color: aqua;
    color: rgb(3, 3, 3);
}
.container.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}

.service {
    width: 30%;
    border: 2px solid gray;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-bottom: 0px; 
    position: static;
    background-color: #fff;
    box-shadow: 0 0 5px blue;
}

.service i {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    display: block;
}

.service img {
    width: 100%;
    height: auto;
}
.service:hover{
    background-color: rgb(230, 206, 188);
    box-shadow: rgb(112, 112, 230);
    
}
footer{
    margin-top: 10px; 
    border: 1px solid green;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color:  yellow;
    background-color: #198754;
    font-size:30px;
}