body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
}
.container{
    display: flex;
    justify-content: center;
    background-size: cover;
    background-image: url(../img/PET1.png) ;
    height: 100%;
    width: 100%;
}
.box{
    position: relative;
    width: 30%;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 8px black;
    padding: 150px 20px;
}
h3{
    color: red;
    text-shadow: 0 0 2px blue;
    font-size: 30px;
}
label{
    color: #fff;
}
input{
    width: 200px;
    padding: 5px;
    margin: 10px;

}
.btn{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}
.btn-faceBook{
    background: #1877f2;
    color: #fff;
    border: 1px gray;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    text-decoration: none;
}
.btn-faceBook:hover{
    background-color: pink;
    color: #1877f2;
}
.btn-Google:hover{
    background-color: pink;
    color: #1877f2;
}
.btn-Google{
    background: #f9f9fa;
    color: black;
    border: 1px gray;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    text-decoration: none;
}
.Login{
    background: #1877f2;
    color: #fff;
    margin-left: 30px;
    border: 3px gray;
    cursor: pointer;
    border-radius: 5px; 
    margin-top: 20px;
    margin-bottom: 30px;

}
.Login:hover{
    background-color: deeppink;
}

